.bubble-container, .todo-container {
    width: 100%;
    display: flex;
}

.bubble, .field {
    border: solid 4px var(--foreground);    
    padding: 20px;
    border-radius: 30px;
    background-color: var(--background);
    width: 100%;
}

.todo {
    border-radius: 30px;
    display: flex;
    align-items: self-start;
    gap: 10px;
}

.todo .md-text {
    max-width: 248px;
}

.todo .icon {
    height: 36px;
}

.checked-todo {
    background-color: var(--foreground);
    color: var(--background);
}

.description-bubble, .todo {
    cursor: pointer;
}

.bubble-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}